CLICKHOUSE_PORT_1 = 8123
CLICKHOUSE_PORT_2 = 9000
CLICKHOUSE_HOST = clickhouse
CLICKHOUSE_USER = user_mart
CLICKHOUSE_PASSWORD = strongpassword
CLICKHOUSE_DATABASE_RAW = mart_raw
MONGO_URI = mongodb://mongo_db/
MONGO_PORT = 27017
KAFKA_BROKER = kafka:29092
access_key = s3_access_key
secret = s3_secret
